:root {
    --header-height: 72px;
    --theme-color: #ff2442;
    --el-color-primary: #ff2442;
    --max-width: 1728px;
    --mask-paper: hsla(0, 0%, 100%, 0.98);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-weight: normal;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #333;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, BlinkMacSystemFont, Helvetica Neue, Arial, PingFang SC, PingFang TC, PingFang HK, Microsoft Yahei, Microsoft JhengHei;

    *::-webkit-scrollbar, &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}
