:root {
    --header-height: 72px;
    --theme-color: #ff2442;
    --el-color-primary: #ff2442;
    --max-width: 1728px;
}



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    background-color: transparent;
    color: #333;
}

body {

}
